<div class="layout">
    <div class="layout__sidebar">
        {{> @sidebar }}
    </div>

    <div class="layout__main">
        This is the main
    </div>
</div>

<!-- Todo: Workaround for fractal limitation -->
<!-- See https://github.com/frctl/fractal/issues/89 -->
<style>
    html,
    body {
        overflow: hidden;
        box-sizing: border-box;

        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<script type="text/javascript">
    $(function () {
        var $sidebarMenus = $('.sidebar__menu');

        $sidebarMenus.click(function (event) {
            event.preventDefault();

            $(event.target).parents('.layout')
                    .toggleClass('layout--is-collapsed');
        });
    });
</script>
