<button class="button" type="button">{{ label }}</button>
<button class="button" type="button" disabled="disabled">{{ label }}</button>
<button class="button button--success" type="button">{{ label }}</button>
<button class="button button--success" type="button" disabled="disabled">{{ label }}</button>
