.button {
  $button-default-background: $color-white;
  $button-default-color: $color-ui-primary-text;
  $button-default-border-color: darken($button-default-background, 20%);
  $button-success-background: $color-ui-success;
  $button-success-color: $color-ui-success-color;
  $button-success-border-color: darken($button-success-background, 20%);

  font-size: 11px;
  font-weight: 600;
  line-height: 38px;

  display: inline-block;

  box-sizing: border-box;
  height: 38px;
  padding: 0 30px;

  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  color: $button-default-color;
  border: 1px solid $button-default-border-color;
  border-radius: $base-radius;
  background-color: $button-default-background;

  &:hover,
  &:focus {
    background-color: darken($button-default-background, 10%);
  }

  &--success {
    color: $button-success-color;
    border-color: $button-success-border-color;
    background-color: $button-success-background;

    &:hover,
    &:focus {
      background-color: darken($button-success-background, 10%);
    }
  }

  &[disabled='disabled'] {
    &,
    &:hover {
      cursor: not-allowed;

      color: lighten($color-ui-primary-text, 30%);
      background-color: $color-grey-light;
    }
  }
}
