<!-- Todo: Workaround for fractal limitation -->
<!-- See https://github.com/frctl/fractal/issues/89 -->
<style>
    html,
    body {
        overflow: hidden;
        box-sizing: border-box;

        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<aside class="sidebar">
    <a href="" class="sidebar__menu">X Close</a>

    <section class="sidebar__header-container">
        <div class="sidebar__header">
            Header
        </div>
    </section>

    <section class="sidebar__main-container">
        <div class="sidebar__main">
            Main
        </div>
    </section>
</aside>
