<!-- Todo: Workaround for fractal limitation -->
<!-- See https://github.com/frctl/fractal/issues/89 -->
<style>
    html,
    body {
        overflow: hidden;
        box-sizing: border-box;

        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<aside class="sidebar">
    <section class="sidebar__header">
        Sidebar header section
    </section>

    <section class="sidebar__main">
        Sidebar main section
    </section>
</aside>
