.home {
  &__sidebar {
    display: block;
    position: relative;

    height: 100%;
    background: #2F343B;
    color: #E7ECEF;
  }

  &__header {
    text-align: center;
    padding: 2em 1em;
    //border-bottom: 1px solid #E7ECEF;
  }

  &__title {
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  }

  &__form {
    padding: 2em 1em;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__fields {
    display: block;

    margin-bottom: 1rem;
  }

  &__rule {
    border-bottom: 1px solid #E7ECEF;
    margin-bottom: 1rem;
  }
}

.label {
  display: block;
  margin-bottom: 1rem;

  &__description {
    display: block;

    font-weight: lighter;
    margin-bottom: 0.75rem;
  }

  &__input,
  &__select {
    display: block;
    width: 100%;
    box-sizing: border-box;

    appearance: none;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
    margin-bottom: 1rem;
  }
}

.button {
  display: block;
  width: 100%;
  box-sizing: border-box;

  appearance: none;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
  margin-bottom: 0.5rem;

  &--submit {
    color: #E7ECEF;
    background: #2D8A42;
  }
}


//.subscribe {
//
//  &__container {
//    display: flex;
//    height: 100%;
//
//    justify-content: center;
//    align-items: center;
//  }
//
//  &__content {
//    display: block;
//    max-width: 400px;
//  }
//}
//
//.header {
//  background-color: #0D88E7;
//  text-align: center;
//  padding: 25px 10px;
//  color: #fff;
//
//  &__title {
//    margin: 0;
//  }
//}
