<div class="component-preview">
    <input class="form-control" type="text" placeholder="text">
</div>

<div class="component-preview">
    <input class="form-control" type="date" placeholder="date">
</div>

<div class="component-preview">
    <input class="form-control" type="file" placeholder="file">
</div>

<div class="component-preview">
    <input class="form-control" type="color" placeholder="color">
</div>

<div class="component-preview">
    <input class="form-control" type="number" placeholder="number">
</div>

<div class="component-preview">
    <input class="form-control" type="text" disabled="disabled" placeholder="disabled">
</div>
