// Core colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color-white: #FFFFFF;
$color-grey-dark: #2F343B;
$color-grey-light: #E7ECEF;
$color-grey-lighter: #FAFAFA;
$color-beige: #E3CDA4;
$color-red: #703030;
$color-green: #2D8A42;

// UI colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color-ui-primary: $color-grey-light;
$color-ui-primary-outline: $color-beige;
$color-ui-primary-text: $color-grey-dark;
$color-ui-dark-primary: $color-grey-dark;
$color-ui-dark-text: $color-grey-light;
$color-ui-success: $color-green;
$color-ui-success-color: $color-grey-lighter;
$color-ui-link: $color-red;
$color-ui-link-visited: darken($color-ui-link, 10%);
$color-ui-danger: $color-red;
