// Main palette
$color-grey-dark: #2f343b;
$color-grey-light: #e7ecef;
$color-grey-lighter: #fafafa;

$color-beige: #e3cda4;
$color-red: #703030;
$color-green: #2d8a42;

// UI specific colors
$color-ui-primary: $color-grey-light;
$color-ui-primary-outline: $color-beige;
$color-ui-primary-text: $color-grey-dark;

$color-ui-dark-primary: $color-grey-dark;
$color-ui-dark-text: $color-grey-light;

$color-ui-success: $color-green;
$color-ui-success-color: $color-grey-lighter;

$color-ui-danger: $color-red;
