// Main palette
$color-grey-dark: #2F343B;
$color-grey-light: #E7ECEF;

$color-beige: #e3cda4;
$color-red : #703030;
$color-green: #2D8A42;

// UI specific colors
$color-ui-primary: $color-grey-light;
$color-ui-primary-outline: $color-beige;
$color-ui-text: $color-grey-dark;

$color-ui-dark-primary: $color-grey-dark;
$color-ui-dark-text: $color-grey-light;

$color-ui-success: $color-green;
$color-ui-danger: $color-red;
