// Fonts
//––––––––––––––––––––––––––––––––––––––––––––––––––
$font-family: 'Open Sans', sans-serif;
$font-color: $color-ui-primary-text;

// Spacing and borders
//––––––––––––––––––––––––––––––––––––––––––––––––––
$base-radius: 3px;
