.layout
{
    display: flex;

    height: 100%;

    $sidebar-background-color: $color-ui-dark-primary;
    $sidebar-color: $color-ui-dark-text;

    &__sidebar
    {
        max-width: 300px;

        color: $sidebar-color;
        background: $sidebar-background-color;

        flex: 1;

        @media screen and (max-width: $breakpoint-sm-max)
        {
            position: relative;
            left: -100%;
        }
    }

    &__main
    {
        position: relative;

        background-size: cover;

        flex: 1;
    }
}
