.sidebar {
  position: relative;

  display: table;

  width: 100%;
  height: 100%;

  color: $color-ui-dark-text;
  background: $color-ui-dark-primary;

  &__headerContainer {
    display: table-row;
  }

  &__mainContainer {
    display: table-row;
    height: 100%;
  }

  &__header {
    display: table-cell;
  }

  &__main {
    vertical-align: middle;
    display: table-cell;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0.8em 1em 0 0;
  }
}
